/* Fonte Outfit */
html {
  font-family: 'Outfit', sans-serif;
}

.light {
  background-color: rgb(255, 255, 255);
  color: black; 
}

.dark {
  background-color: black;
  color: white; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}
